
:root {
    --color-white : #FFFFFF;
    --color-black : #000000;
}

* {
    box-sizing: content-box;
}

body {
    background-color: var(--color-white);
}

h1 {
    color: var(--color-black);
}

a {
    color: var(--color-black);
}

ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

button {
    appearance: none;
    border: none;
    padding: 10px 30px;
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
    color: var(--color-black);
}

.background, .scale, .move {
    width: 100px;
    height: 100px;
    border: 1px solid var(--color-black);
    margin: 30px 0px;
    transition: ease 0.3s;
}

.background-red {
    background-color: red;
}

.scale-min {
    scale: 0.5;
}

.move-right {
    transform: translateX(300%);
}

.space-link {
    color: var(--color-white);
}

.space {
    width: 90vw;
    height: calc(97vh + 3px);
    background: repeat-y url(../img/space.jpg);
    background-size: 100% auto;
    background-position: center;
    animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    background-position-y: 0 ;
  }
  100% {
    background-position-y: 6000%; 
  }
}

.x-wing {
    height: 50px;
    width: 50px;
    background: center/cover no-repeat url(../img/x-wing.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transition: 0.1s ease;
}

.xwing-right {
    transform: rotateY(45deg);
}

.xwing-left {
    transform: rotateY(-45deg);
}

table {
    border-collapse: collapse;
    border: 1px solid var(--color-black);
}

th, td {
  border: 1px solid var(--color-black);
  padding: 4px 10px;
}

#titre-test {
    width: 300px;
    padding: 0;
    text-align: center;
}

#titre {
    align-self: center;
    justify-self: center;
}