
:root {
    --color-white : #FFFFFF;
    --color-black : #000000;
}

body {
    background-color: var(--color-white);
}

h1 {
    color: var(--color-black);
}

a {
    color: var(--color-black);
}

ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

button {
    appearance: none;
    border: none;
    padding: 10px 30px;
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
    color: var(--color-black);
}

.background, .scale, .move {
    width: 100px;
    height: 100px;
    border: 1px solid var(--color-black);
    margin: 30px 0px;
    transition: ease 0.3s;
}

.background-red {
    background-color: red;
}

.scale-min {
    scale: 0.5;
}

.move-right {
    transform: translateX(300%);
}

.space {
    width: 100vw;
    height: 100vh;
    color: var(--color-white);
    background: center/cover no-repeat url(../img/space.jpg);
}

.x-wing {
    height: 50px;
    width: 50px;
    background: center/cover no-repeat url(../img/x-wing.png);
    position: absolute;
    top: 150px;
    left: 150px;
}


table {
    border-collapse: collapse;
    border: 1px solid var(--color-black);
}

th, td {
  border: 1px solid var(--color-black);
  padding: 4px 10px;
}

#titre-test {
    width: 300px;
    padding: 0;
    text-align: center;
}

#titre {
    align-self: center;
    justify-self: center;
}